	<div class="row social">
        <div class="col-md-12">
            <a href="#novos">
                <div class="panel panel-default painel1">
                    <div class="panel-body">
                        <small class="social-title">Novos Simulados</small>
                        <h3 class="count">
                            Encare este desafio!</h3>
                        <i class="fa fa_menu fa-pencil"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-12">
            <a href="#respondidos">
                <div class="panel panel-default painel2">
                    <div class="panel-body">
                        <small class="social-title">Simulados respondidos</small>
                        <h3 class="count">
                            Para rever e aprender!</h3>
                        <i class="fa fa_menu fa-book"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-12">
            <a href="#perfil">
                <div class="panel panel-default painel3">
                    <div class="panel-body">
                        <small class="social-title">Meu Perfil</small>
                        <h3 class="count">
                           Resumo de suas atividades</h3>
                        <i class="fa fa_menu fa-user"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-12">
            <a href="#desempenho">
                <div class="panel panel-default painel4">
                    <div class="panel-body">
                        <small class="social-title">Meu Desempenho</small>
                        <h3 class="count">
                            Identifique seus pontos fortes!</h3>
                        <i class="fa fa_menu fa-line-chart"></i>
                    </div>
                </div>
            </a>
        </div>
		 <div class="col-md-12">
            <a href="#ranking">
                <div class="panel panel-default painel5">
                    <div class="panel-body">
                        <small class="social-title">Ranking</small>
                        <h3 class="count">
                            Veja quem está na frente!</h3>
                        <i class="fa fa_menu fa-trophy"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
