
    <div class="row">
        <div class="well">
            <h1 class="text-center">Novos Simulados</h1>
            <div class="list-group" ng-repeat="acao in acoes">
                <a href="#pergunta/{{acao.codigo}}" class="list-group-item">
                    <div class="media col-md-3">
                        <figure class="pull-left">
                            <i class="fa fa-cloud-upload blogicon"></i>
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <h4 class="list-group-item-heading">{{acao.descricao}}</h4>
                        <p class="list-group-item-text">
                            {{acao.texto}}
                        </p>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2>{{acao.total_participantes}}  <small>Participantes</small></h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
		<div class="panel-footer">
			<a href="#menu" class="btn btn-warning pb-artist-albums">Voltar</a>
		</div>
		
    </div>
