    <div class="row">
        <div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3><strong>Bins</strong></h3>
                    <small>5a serie</small>
                </div>
                <div class="panel-body" style="padding: 0;">
                    <div align="center">
                        <img src="../www/img/photo.jpg" class="img-responsive">
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Desempenho</th>
                            </tr>
                        </thead>
                        <tbody>
							<tr>
                                <td><strong>Posição no Ranking</strong></td>
                                <td> - </td>
                            </tr>
                            <tr>
                                <td><strong>Total de perguntas respondidas</strong></td>
                                <td>{{resultados.respostas}}</td>
                            </tr>
                            <tr>
                                <td><strong>Total de acertos</strong></td>
                                <td>{{resultados.acertos}}</td>
                            </tr>
                            <tr>
                                <td><strong>Média</strong></td>
                                <td>{{resultados.media}}</td>
                            </tr>
                            <tr>
                                <td><strong>Pontos acumulados</strong></td>
                                <td> - </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="#menu" class="btn btn-warning pb-artist-albums">Voltar</a>
                </div>
            </div>
        </div>
    </div>
